.light-theme {
  background-color: white;
  color: black;
}

.dark-theme {
  background-color: black;
  color: white;
}

.theme-btn {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  background: grey;
  color: white;
  font-size: 16px;
  margin: 10px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: grey;
}

.navbar a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}
